<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileacquisition"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
 	<!-- 以下是使用wifi访问网络所需的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- 以下是使用声控的权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 浮动窗体 需申请权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--语言切换  -->
     <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <application
        android:name="preference.welcome.MyAPP"
        android:allowBackup="true"
        android:icon="@drawable/icon02_512"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- android:configChanges="locale" -->
        <activity
            android:name="com.example.mobileacquisition.WelcomeActivity"
            android:theme="@style/Theme.AppStartLoad" 
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mobileacquisition.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape">
        </activity>
        <!-- 跳转到驾驶模式  -->
        <activity
            android:name="mode.drive.DriveModeActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
          <activity android:name=".ThemeActivity" 
               >
        </activity>
        <!-- 跳转到标定界面-->
        <activity
            android:name="mode.calibration.CalibrationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape">
        </activity>
        <service 
            android:name="floating.window.FloatingService"
            android:enabled="true"
            android:allowBackup="false">
        </service>
    </application>
    <supports-screens
            android:smallScreens="true"
            android:normalScreens="true"
            android:largeScreens="true"
            android:resizeable="true"
            android:anyDensity="true" />
    
</manifest>
